<!DOCTYPE html>
<html>
<head>
    <title>UltraSuperNew Pictionary</title>

    <link rel="shortcut icon" href="/img/favicon.ico">

    <link rel="stylesheet" href="/bower_components/metro-ui-css/min/metro-bootstrap.min.css">
    <link rel="stylesheet" href="/css/override.css">
    <link rel="stylesheet" href="/bower_components/smoke.js/smoke.css">
    <link rel="stylesheet" href="/bower_components/toastr/toastr.min.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.widget.js"></script>
    <script src="/bower_components/metro-ui-css/min/metro.min.js"></script>
    <script src="/bower_components/moment/min/moment.min.js"></script>
    <script src="/bower_components/smoke.js/smoke.js"></script>
    <script src="/bower_components/toastr/toastr.min.js"></script>
    <script src="/js/sockrage/socket.io.js"></script>
    <script src="/js/sockrage/sockrage.js"></script>
    <script src="/js/pictionary.js"></script>
    <script src="/js/webchat.js"></script>
</head>

<body class="metro">
<div class="container">
    <nav class="navigation-bar">
        <nav class="navigation-bar-content">
            <div class="element">
                <span class="icon-pencil"> ULTRASUPERNEW REAL-TIME PICTIONARY</span>
            </div>
            <span class="element-divider place-right"></span>
            <a class="element place-right" href="https://github.com/ultrasupernew/sockrage" target="_blank"><span class="icon-github"></span> Fork Sockrage on GitHub !</a>
            <span class="element-divider place-right"></span>
            <button class="element image-button image-left place-right" id="username-place"></button>
        </nav>
    </nav>
</div>

<div id="tools-container">

    <h3><i class="icon-stats"></i> Choose Color</h3>

    <div style="background:green;" class="tool-item-color" id="green" onclick="color(this)"></div>
    <div style="background:blue;" class="tool-item-color" id="blue" onclick="color(this)"></div>
    <div style="background:red;" class="tool-item-color" id="red" onclick="color(this)"></div>
    <div style="background:yellow;" class="tool-item-color" id="yellow" onclick="color(this)"></div>
    <div style="background:orange;" class="tool-item-color" id="orange" onclick="color(this)"></div>
    <div style="background:black;" class="tool-item-color" id="black" onclick="color(this)"></div>

    <div style="clear:both;"></div>

    <hr>

    <h3><i class="icon-battery-empty"></i> Eraser</h3>

    <div style="background:white;" class="tool-item-color eraser" id="white" onclick="color(this)"></div>

    <div style="clear:both;"></div>

    <hr>

    <h3><i class="icon-compass"></i> Options</h3>

    <div class="option-container">
        <button id="clr" onclick="erase()" class="command-button small">
            <i class="icon-clipboard-2 on-left"></i>
            Clear panel
        </button>
        <br>
        <button id="toggleDrawBtn" onclick="autoDrawToggle()" class="command-button small">
            <i class="icon-share-3 on-left"></i>
            Automatic Drawing
        </button>
    </div>

</div>

<div id="webchat-container" class="row">

    <h3><i class="icon-rocket"></i> Webchat</h3>

    <div id="webchat-messages"></div>

    <div id="webchat-input">

        <div class="input-control text">
            <input class="wide input" type="text" placeholder="Type a message..." id="message-input-msg" />
            <a href="#" id="message-input-confirm"><button class="btn-clear"></button></a>
        </div>

    </div>

</div>

<canvas id="can" width="960" height="590" class="draw-panel"></canvas>

<script>
    $(document).ready(function() {
        initPictionary('<%= sockrage_addr %>', '<%= db_name_pictionary %>');
        initSockrageWebchat('<%= sockrage_addr %>', '<%= db_name_webchat %>');
    });
</script>

</body>

</html>